%section.vbox
  %section.scrollable.padder
    = render_breadcrumb

    %section.panel.panel-default
      %header.panel-heading.font-bold
        / %span.label.bg-info.pull-right 4 paid
        Listing orders
      #flash_msg.row.m-n
      .row.text-sm.wrapper
        .col-sm-3.m-b-xs
          = form_tag(change_states_admin_orders_path) do
            = select_tag "state", options_for_select(Order::STATES_OPTIONS), class: 'input-sm form-control input-s-sm inline'
            = button_tag 'Apply', class: 'btn btn-sm btn-default', id: 'change_state_btn'

        .col-sm-6.m-b-xs
          / .btn-group{ data: { toggle: 'buttons'} }
          .btn-group
            = order_state_filter_links(params[:state])

        .col-sm-3
          = form_tag(admin_orders_path, method: :get) do
            .input-group
              = hidden_field_tag(:state, params[:state])
              = text_field_tag 'keyword', params[:keyword], class: 'input-sm form-control', placeholder: 'Search'
              .input-group-btn
                = button_tag 'Go', class: 'btn btn-sm btn-default'

      #test.table-responsive
        %table.table.table-striped.b-t.b-light.text-sm
          %thead
            %tr
              %th{ width: '20' }= check_box_tag nil
              %th Number
              %th Item total
              %th Total
              %th State
              %th.col-lg-action

          %tbody
            = render partial: "order", collection: @orders

      %footer.panel-footer
        .row
          .col-sm-4.hidden-xs
            = link_to 'New Order', new_admin_order_path, class: 'btn btn-s-md btn-info btn-rounded'
            = link_to 'Download CSV', admin_orders_path(format: :csv), class: 'btn btn-s-md btn-info btn-rounded'
          .col-sm-4.text-center
            %small.text-muted.inline.m-t-sm.m-b-sm showing 20-30 of 50 items
          .col-sm-4.text-right.text-center-xs
            = paginate @orders
