%header.bg-dark.dk.header.navbar
  .navbar-header.aside-md
    = yield(:back_botton)

    = link_to "#", class: 'navbar-brand', data: { toggle: "fullscreen" } do
      = image_tag("logo.png", class: 'm-r-sm') + "SmartShop"

    = link_to "javascript:void(0)", class: 'btn btn-link visible-xs menu-btn' do
      = content_tag(:i, nil, class: 'fa fa-bars')
