= simple_form_for([:admin, @product, @variant], multipart: true) do |f|
  = f.error_notification
  .form-inputs
    - @product.option_types.each do |option_type|
      .form-group
        %label.col-sm-2.control-label
          = option_type.presentation
        .col-sm-10
          = f.collection_select :option_value_ids, option_type.option_values, :id, :presentation, { prompt: true }, { name: 'variant[option_value_ids][]', class: 'select form-control' }
      .line.line-dashed.line-lg.pull-in
    = f.input :sku
    .line.line-dashed.line-lg.pull-in
    - if @variant.new_record?
      = f.input :variant_price, input_html: { value: @variant.price }, label: "Price"
    - else
      = f.input :price
    .line.line-dashed.line-lg.pull-in
    = f.input :position
    .line.line-dashed.line-lg.pull-in
  .form-group
    .col-sm-4.col-sm-offset-2
      = link_to "Cancel", admin_product_variants_path(@product), class: 'btn btn-default'
      = f.button :submit, class: 'btn btn-primary'
