%section.vbox
  %section.scrollable.padder
    = render_breadcrumb

    .row
      .col-lg-9
        %section.panel.panel-default
          %header.panel-heading.font-bold Editing product
          .panel-body
            = form_for([:admin, @product]) do |f|
              = render 'application/error', model: @product
              %fieldset
                %legend.wrapper-sm
                  %i.fa.fa-file-text.text-muted.m-r-xs
                  Product
                .form-inputs
                  .form-group
                    %label Details
                    .panel.panel-default
                      = render "details_editor_toolbar"
                      = render "details_editor_text_area", f: f

              %footer.panel-footer.text-right.bg-light.lter
                = link_to "Cancel", admin_products_path, class: 'btn btn-default'
                = f.button :submit, class: 'btn btn-primary', id: 'submit_prodcut_epiceditor'
      .col-lg-3
        = render "side_nav"
