%section.vbox
  %section.scrollable.padder
    = render_breadcrumb

    %section.panel.panel-default
      %header.panel-heading.font-bold Show product
      .panel-body
        = show_flash_messages
        .form-horizontal
          .form-group
            %label.col-sm-2.control-label Name
            .col-sm-10.show-field-value= @product.name
          .line.line-dashed.line-lg.pull-in
          .form-group
            %label.col-sm-2.control-label Description
            .col-sm-10.show-field-value= @product.description
          .line.line-dashed.line-lg.pull-in
          .form-group
            .col-sm-4.col-sm-offset-2
              = link_to "Back", admin_products_path, class: 'btn btn-default'
              = link_to "Edit", edit_admin_product_path(@product), class: 'btn btn-default btn-primary'
